In [5]:
                                           #problem1
                                           #VARIABLES
s="sudhanshu sir" #string variable
l=[2,5.56,"utkarsh",5+4j,2] #mutable LIST
f=5.489 #float variable
t=(2,5.56,"utkarsh",5+4j,2) #immutable TUPLE

In [4]:
                                             #problem 2
                                          #defining datatypes
var1 = ' '  #string datatype
var2 = '[ DS , ML , Python]' #string datatype
var3 = [ 'DS' , 'ML', 'Python' ]  #list datatype
var4 = 1 #int datatype

In [6]:
                                           #problem 3
    
 # / called Division (float): divides the first operand by the second operand and give answer 
x=4
y=2
print(x/y)
 
# % called Modulus: returns the remainder when the first operand is divided by the second operand
x=5
y=2
print(x%y)
 
# // called floor division :divides the first operand by second and given quotient value
x=5
y=2
print(x//y)
 
# ** called power:returns first raised to the power second
x=5
y=2
print(x**y)

2.0
1
2
25

In [2]:
                                         #problem 4
    
#Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
 
l=[2,3.91,2233839298,"python",5+9j,'a',("hii",55),54,85.225458,7]
for i in range(10):
    print(l[i],"and its datatype is",type(l[i]))

2 and its datatype is <class 'int'>
3.91 and its datatype is <class 'float'>
2233839298 and its datatype is <class 'int'>
python and its datatype is <class 'str'>
(5+9j) and its datatype is <class 'complex'>
a and its datatype is <class 'str'>
('hii', 55) and its datatype is <class 'tuple'>
54 and its datatype is <class 'int'>
85.225458 and its datatype is <class 'float'>
7 and its datatype is <class 'int'>

In [8]:
                                                        #program5
#Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
a=20
b=2
c=0
while(a>=b):
    if (a%b==0):
        c=c+1
    b=b+1 
print(c)

5

In [22]:
                                                #problem 6
# Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
l=[2,33,3,9,6,8,78,54,26,81,88,5,4,56,57,458,213,584,66,524,183,57,654,892,541]
for i in range (25):
    if(l[i]%3==0):
        print (l[i],"is divisible by 3")
    else:
        print (l[i],"is not divisible by 3")

2 is not divisible by 3
33 is divisible by 3
3 is divisible by 3
9 is divisible by 3
6 is divisible by 3
8 is not divisible by 3
78 is divisible by 3
54 is divisible by 3
26 is not divisible by 3
81 is divisible by 3
88 is not divisible by 3
5 is not divisible by 3
4 is not divisible by 3
56 is not divisible by 3
57 is divisible by 3
458 is not divisible by 3
213 is divisible by 3
584 is not divisible by 3
66 is divisible by 3
524 is not divisible by 3
183 is divisible by 3
57 is divisible by 3
654 is divisible by 3
892 is not divisible by 3
541 is not divisible by 3

In [28]:
                                                          #problem7
# What do you understand about mutable and immutable data types? Give examples for both showing this property.
 
#mutable datatypes are the one whose value can be changeable and duplicateable after it is created 
   #eg--list,set,dictionary
l=[1,22,9,5,7,22]
l[3]=100 #can be done


#immutable datatypes are the one whose value can not be changeable but duplicateable after it is created 
       #eg--tuple,int,float
t=(1,22,9,5,7,22)
# t(3)=100 #can'nt done gives error